/* Customize the background color to match your design. */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/* Remove default fieldset styles. */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Allow only vertical resizing of textareas. */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%; /* 2 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	font-size: 3.6rem;
	font-weight: 100;
	line-height: 1.75;
}
h2 {
	font-size: 3.2rem;
	font-weight: 100;
}
h3 {
	font-size: 2.2rem;
}

p {
	color: #000000;
	font-family: "soleil", Calibri, Optima, sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 300;
	margin: 1rem 0 2.5rem 0;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #fcfcfa;
	margin: 0;
}
.all-content {
	max-width: 1024px;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.header h1 {
	margin-left: 2rem;
}

.contact {
	width: 2rem;
	margin: 0 1rem 0 1.5rem;
}

.bioContainer {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	align-content: baseline;
	margin: 0 2rem 0 2rem;
}

.quickInfo {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 5px solid #e4f0f0;
}

.headshotPic img {
	display: block;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	width: 100%;
	margin: 0 auto;
}

.caption {
	max-width: 35rem;
	flex: 0 1 60%;
}

.background {
	flex: 2;
	display: flex;
	flex-flow: column nowrap;
}

.proExp section,
.skills > li {
	border-bottom: 1px solid #e4f0f0;
}

.proExp section:last-child {
	border-bottom: none;
}

.proExp section::before,
.skills li::before,
.edu li::before {
	content: "\21B3";
	color: #cf9192;
	position: absolute;
	font-size: 1.9rem;
}
.proExp section:before {
	margin-left: -2.1rem;
}

.proExp section {
	padding-left: 2.1rem;
}

.description {
	padding: 1.5rem;
	background-color: #fffef2;
	border: 1px solid #e4f0f0;
	font-style: italic;
	box-shadow: 2px 1px #e4f0f0;
}

.positionTitle {
	padding-left: 0.5rem;
}

.skills {
	padding-left: 1.35rem;
}
.skills li,
.edu li {
	list-style-type: none;
	position: relative;
}
.skills li ul li {
	list-style-type: disc;
}
.skills li ul li:before {
	content: none;
	position: relative;
}

.edu {
	border-color: #e4f0f0;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.extraInfo {
	display: flex;
	flex-flow: column nowrap;
}

.extraInfo > ul {
	margin-top: 0;
}

.skills li::before,
.edu li::before {
	margin-left: -2.1rem;
}

.skills > li:last-child {
	border-bottom: none;
}

.skills p {
	line-height: 1.27rem;
	margin: 0.75rem 0 0.75rem 0;
}

.tools-examples {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: baseline;
}
.tools-examples > p {
	flex: 1;
}
.tools-examples > .sample {
	flex: 0.75;
}
ul.skills > li.tools-examples::before,
.edu li {
	margin-top: 0.2rem;
}
ul.skills > li.tools-examples {
	border-bottom: none;
}

.sample p {
	padding: 1rem;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	background-color: #fffef2;
	border: 1px solid #cf9192;
	-webkit-box-shadow: 2px 1px #cf9192;
	-moz-box-shadow: 2px 1px #cf9192;
	box-shadow: 2px 1px #cf9192;
	margin: 0 1.5rem 1rem 1.5rem;
	-webkit-transition: 0.3s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	-moz-transition: 0.3s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	transition: 0.3s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	text-align: center;
}
.sample p:hover {
	background-color: #e4f0f0;
	border: 1px solid #cf9192;
	-webkit-box-shadow: 1.25px 0 #cf9192;
	-moz-box-shadow: 1.25px 0 #cf9192;
	box-shadow: 1.25px 0 #cf9192;
}
.sample p:active {
	-webkit-box-shadow: 1.25px 0 #cf9192;
	-moz-box-shadow: 1.25px 0 #cf9192;
	box-shadow: 1.25px 0 #cf9192;
}

.sample a {
	text-decoration: none;
}

footer {
	width: 100%;
	display: block;
	border-top: 1px solid #e4f0f0;
	max-width: 1024px;
}

footer p {
	margin-right: 2rem;
	float: right;
	font-size: 0.85rem;
	font-style: italic;
}

/* responsive styles */
@media only screen and (min-width: 31.25rem) {
	.header {
		margin-left: 0;
	}

	.quickInfo {
		flex-flow: row;
		padding: 1rem;
	}
	.headshotPic img {
		max-width: 75%;
	}
}

@media only screen and (min-width: 46.88rem) {
	.header {
		justify-content: flex-start;
	}
	.bioContainer {
		flex-flow: row;
		align-items: flex-start;
	}

	.quickInfo {
		flex-flow: column;
		box-shadow: -5px -5px 0 0 #e4f0f0;
		padding: 0 0 0 1rem;
		margin: 1rem 1rem 0 0;
		border-bottom: none;
	}

	.headshotPic {
		margin-top: 1.1rem;
	}
}

@media only screen and (min-width: 71.88rem) {
	.bioContainer {
		margin: 0;
	}
	.header h1 {
		margin-left: 0;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* design case styles */
.lx-examples {
	justify-content: center;
	margin: 0 auto;
	max-width: 1024px;
	align-items: flex-start;
	padding: 0 1rem;
}
.lx-examples--header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #fcfcfa;
}
.nav-btn {
	display: block;
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
	float: right;
}
@media only screen and (min-width: 35em) {
	.nav-btn {
		display: none;
	}
}
#nav.revealTOC {
	display: block;
}
.lx-examples--nav {
	display: none;
	border-radius: 1rem;
	background: #fcfcfa;
	box-shadow: inset 0.6rem 0.6rem 0.4rem #b8b8b6, inset -0.6rem -0.6rem 0.4rem #fff;
	max-width: 1024px;
	width: 100%;
}
@media only screen and (min-width: 35em) {
	.lx-examples--nav {
		display: block;
	}
}
.lx-examples--navList {
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
	justify-content: space-around;
	align-items: center;
}
@media only screen and (min-width: 35em) {
	.lx-examples--navList {
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.lx-examples--navList-item {
	margin: 0 2rem;
	list-style-type: none;
}
.lx-examples--navList-item p {
	margin: 2rem 1rem;
}
.lx-examples--navList-item a {
	text-decoration: none;
	font-size: 2rem;
	color: #000000;
	padding: 1rem;
	transition: 0.3s linear;
	border-radius: 0.6rem;
}
.lx-examples--navList-item a:hover,
.lx-examples--navList-item a:focus {
	font-weight: 600;
	text-decoration: underline;
	box-shadow: 0.5rem 0.5rem 0.9rem #b8b8b7b8, 0.5rem -0.5rem 0.9rem #fff;
	background-color: #fae8e7;
}
.lx-examples--main {
	min-width: 75%;
	margin-left: 4rem;
}
.iframe-container {
	overflow: hidden;
	/* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
	padding-top: 56.25%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
